* {
    margin: 0;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url("../public/img/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}