* {
    margin: 0;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url("../public/img/bg.png");
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 100vh;
}